@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color:  #F3F4F6;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}